In [157]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [158]:
open = pd.read_csv('email_opened_table.csv')
email = pd.read_csv('email_table.csv')
click = pd.read_csv('link_clicked_table.csv')

In [159]:
open

       email_id
0        284534
1        609056
2        220820
3        905936
4        164034
...         ...
10340    990213
10341    918210
10342    200299
10343    211104
10344    320631

[10345 rows x 1 columns]

In [160]:
open['opened'] = 1
open

       email_id  opened
0        284534       1
1        609056       1
2        220820       1
3        905936       1
4        164034       1
...         ...     ...
10340    990213       1
10341    918210       1
10342    200299       1
10343    211104       1
10344    320631       1

[10345 rows x 2 columns]

In [161]:
click

      email_id
0       609056
1       870980
2       935124
3       158501
4       177561
...        ...
2114    873162
2115    435454
2116    206772
2117    742967
2118    916564

[2119 rows x 1 columns]

In [162]:
click['clicked'] = 1
click

      email_id  clicked
0       609056        1
1       870980        1
2       935124        1
3       158501        1
4       177561        1
...        ...      ...
2114    873162        1
2115    435454        1
2116    206772        1
2117    742967        1
2118    916564        1

[2119 rows x 2 columns]

In [163]:
df = pd.merge(open, click, on='email_id', how='outer')

In [164]:
new_df = pd.merge(df, email, on='email_id', how='outer')
new_df

,email_id,opened,clicked,email_text,email_version,hour,weekday,user_country,user_past_purchases
0,8,NaN,NaN,short_email,generic,9,Thursday,US,3
1,33,NaN,NaN,long_email,personalized,6,Monday,US,0
2,46,NaN,NaN,short_email,generic,14,Tuesday,US,3
3,49,1.0,NaN,long_email,personalized,11,Thursday,US,10
4,65,NaN,NaN,short_email,generic,8,Wednesday,UK,3
...,...,...,...,...,...,...,...,...,...
99995,999969,NaN,NaN,short_email,generic,21,Thursday,US,0
99996,999972,NaN,NaN,long_email,personalized,6,Tuesday,US,5
99997,999976,NaN,NaN,long_email,personalized,5,Wednesday,UK,0
99998,999980,NaN,NaN,long_email,generic,10,Thursday,FR,4
99999,999998,NaN,NaN,long_email,generic,16,Friday,FR,0

In [165]:
new_df.sample(10)

,email_id,opened,clicked,email_text,email_version,hour,weekday,user_country,user_past_purchases
88461,884232,NaN,NaN,short_email,generic,9,Sunday,UK,6
54494,543572,NaN,NaN,short_email,generic,8,Sunday,US,8
82026,819028,NaN,NaN,short_email,personalized,12,Wednesday,US,5
54795,546944,NaN,NaN,short_email,personalized,9,Monday,UK,5
97214,972618,NaN,NaN,short_email,generic,15,Thursday,US,9
46580,463845,NaN,NaN,long_email,personalized,12,Sunday,ES,2
69762,696363,NaN,NaN,short_email,generic,3,Friday,US,3
6404,62577,NaN,NaN,long_email,generic,10,Monday,UK,6
85785,857632,NaN,NaN,long_email,generic,7,Saturday,FR,11
95747,957661,NaN,NaN,long_email,generic,9,Friday,ES,7

In [166]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   email_id             100000 non-null  int64
 1   opened               10345 non-null   float64
 2   clicked              2119 non-null    float64
 3   email_text           100000 non-null  object
 4   email_version        100000 non-null  object
 5   hour                 100000 non-null  int64
 6   weekday              100000 non-null  object
 7   user_country         100000 non-null  object
 8   user_past_purchases  100000 non-null  int64
dtypes: float64(2), int64(3), object(4)
memory usage: 6.9+ MB

In [167]:
new_df['opened'] = new_df['opened'].fillna(0).astype(int)
new_df['clicked'] = new_df['clicked'].fillna(0).astype(int)

In [168]:
new_df

,email_id,opened,clicked,email_text,email_version,hour,weekday,user_country,user_past_purchases
0,8,0,0,short_email,generic,9,Thursday,US,3
1,33,0,0,long_email,personalized,6,Monday,US,0
2,46,0,0,short_email,generic,14,Tuesday,US,3
3,49,1,0,long_email,personalized,11,Thursday,US,10
4,65,0,0,short_email,generic,8,Wednesday,UK,3
...,...,...,...,...,...,...,...,...,...
99995,999969,0,0,short_email,generic,21,Thursday,US,0
99996,999972,0,0,long_email,personalized,6,Tuesday,US,5
99997,999976,0,0,long_email,personalized,5,Wednesday,UK,0
99998,999980,0,0,long_email,generic,10,Thursday,FR,4
99999,999998,0,0,long_email,generic,16,Friday,FR,0

In [169]:
new_df.info

<bound method DataFrame.info of        email_id  opened  clicked   email_text email_version  hour    weekday  \
0             8       0        0  short_email       generic     9   Thursday
1            33       0        0   long_email  personalized     6     Monday
2            46       0        0  short_email       generic    14    Tuesday
3            49       1        0   long_email  personalized    11   Thursday
4            65       0        0  short_email       generic     8  Wednesday
...         ...     ...      ...          ...           ...   ...        ...
99995    999969       0        0  short_email       generic    21   Thursday
99996    999972       0        0   long_email  personalized     6    Tuesday
99997    999976       0        0   long_email  personalized     5  Wednesday
99998    999980       0        0   long_email       generic    10   Thursday
99999    999998       0        0   long_email       generic    16     Friday

      user_country  user_past_purchases
0               US                    3
1               US                    0
2               US                    3
3               US                   10
4               UK                    3
...            ...                  ...
99995           US                    0
99996           US                    5
99997           UK                    0
99998           FR                    4
99999           FR                    0

[100000 rows x 9 columns]>

In [170]:
def get_engagement_status(row):
    if row['clicked'] == 1 and row['opened'] == 1:
        return "Clicked and Opened"
    elif row['opened'] == 1 and row['clicked'] == 0:
        return "Opened but Not Clicked"
    elif row['opened'] == 0 and row['clicked'] == 0:
        return "Not Opened"
    else:
       
        return "Anomaly"

new_df['engagement_status'] = new_df.apply(get_engagement_status, axis=1)

print(new_df['engagement_status'].value_counts())
new_df.head()

engagement_status
Not Opened                89605
Opened but Not Clicked     8276
Clicked and Opened         2069
Anomaly                      50
Name: count, dtype: int64

,email_id,opened,clicked,email_text,email_version,hour,weekday,user_country,user_past_purchases,engagement_status
0,8,0,0,short_email,generic,9,Thursday,US,3,Not Opened
1,33,0,0,long_email,personalized,6,Monday,US,0,Not Opened
2,46,0,0,short_email,generic,14,Tuesday,US,3,Not Opened
3,49,1,0,long_email,personalized,11,Thursday,US,10,Opened but Not Clicked
4,65,0,0,short_email,generic,8,Wednesday,UK,3,Not Opened

In [171]:
new_df

,email_id,opened,clicked,email_text,email_version,hour,weekday,user_country,user_past_purchases,engagement_status
0,8,0,0,short_email,generic,9,Thursday,US,3,Not Opened
1,33,0,0,long_email,personalized,6,Monday,US,0,Not Opened
2,46,0,0,short_email,generic,14,Tuesday,US,3,Not Opened
3,49,1,0,long_email,personalized,11,Thursday,US,10,Opened but Not Clicked
4,65,0,0,short_email,generic,8,Wednesday,UK,3,Not Opened
...,...,...,...,...,...,...,...,...,...,...
99995,999969,0,0,short_email,generic,21,Thursday,US,0,Not Opened
99996,999972,0,0,long_email,personalized,6,Tuesday,US,5,Not Opened
99997,999976,0,0,long_email,personalized,5,Wednesday,UK,0,Not Opened
99998,999980,0,0,long_email,generic,10,Thursday,FR,4,Not Opened
99999,999998,0,0,long_email,generic,16,Friday,FR,0,Not Opened

In [172]:
new_df

,email_id,opened,clicked,email_text,email_version,hour,weekday,user_country,user_past_purchases,engagement_status
0,8,0,0,short_email,generic,9,Thursday,US,3,Not Opened
1,33,0,0,long_email,personalized,6,Monday,US,0,Not Opened
2,46,0,0,short_email,generic,14,Tuesday,US,3,Not Opened
3,49,1,0,long_email,personalized,11,Thursday,US,10,Opened but Not Clicked
4,65,0,0,short_email,generic,8,Wednesday,UK,3,Not Opened
...,...,...,...,...,...,...,...,...,...,...
99995,999969,0,0,short_email,generic,21,Thursday,US,0,Not Opened
99996,999972,0,0,long_email,personalized,6,Tuesday,US,5,Not Opened
99997,999976,0,0,long_email,personalized,5,Wednesday,UK,0,Not Opened
99998,999980,0,0,long_email,generic,10,Thursday,FR,4,Not Opened
99999,999998,0,0,long_email,generic,16,Friday,FR,0,Not Opened

In [173]:
anomaly = new_df['engagement_status'] == 'Anomaly'
new_df = new_df[~anomaly]

In [174]:
(new_df['engagement_status'] == 'Anomaly').sum()

np.int64(0)

In [176]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99950 entries, 0 to 99999
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   email_id             99950 non-null  int64
 1   opened               99950 non-null  int64
 2   clicked              99950 non-null  int64
 3   email_text           99950 non-null  object
 4   email_version        99950 non-null  object
 5   hour                 99950 non-null  int64
 6   weekday              99950 non-null  object
 7   user_country         99950 non-null  object
 8   user_past_purchases  99950 non-null  int64
 9   engagement_status    99950 non-null  object
dtypes: int64(5), object(5)
memory usage: 8.4+ MB